In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
TitleName=[]
Year=[]
Rating=[]

In [ ]:
url = "https://www.imdb.com/chart/top/?ref_=nv_mv_250"
r = requests.get(url).content

In [ ]:
soup = BeautifulSoup(r, "html.parser") 
list = soup.find("tbody", {"class":"lister-list"}).find_all("tr")
x = 1
for i in list:
  title = i.find("td",{"class":"titleColumn"})
  year = i.find("span",{"class":"secondaryInfo"})
  rating = i.find("td",{"class":"ratingColumn"})
  TitleName.append(title.text)
  Year.append(year.text)
  Rating.append(rating.text)

In [ ]:
df=pd.DataFrame({'Title' : TitleName,'year':Year,'Rating':Rating})
df

                                                 Title    year   Rating
0    \n      1.\n      The Shawshank Redemption\n(1...  (1994)  \n9.2\n
1            \n      2.\n      The Godfather\n(1972)\n  (1972)  \n9.1\n
2    \n      3.\n      The Godfather: Part II\n(197...  (1974)  \n9.0\n
3          \n      4.\n      The Dark Knight\n(2008)\n  (2008)  \n9.0\n
4             \n      5.\n      12 Angry Men\n(1957)\n  (1957)  \n8.9\n
..                                                 ...     ...      ...
245   \n      246.\n      The Princess Bride\n(1987)\n  (1987)  \n8.0\n
246           \n      247.\n      Hera Pheri\n(2000)\n  (2000)  \n8.0\n
247              \n      248.\n      Sunrise\n(1927)\n  (1927)  \n8.0\n
248             \n      249.\n      Drishyam\n(2013)\n  (2013)  \n8.0\n
249              \n      250.\n      Tumbbad\n(2018)\n  (2018)  \n8.0\n

[250 rows x 3 columns]

In [ ]:
df.to_csv('IMDbRating.csv', index=False, encoding='utf-8')